<!doctype html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style id="distill-article-specific-styles">
    <%=require("../static/styles.css") %>
  </style>
  <script src="https://distill.pub/template.v2.js"></script>
</head>

<body>

  <d-front-matter>
    <script type="text/json">
      <%= JSON.stringify(require("./frontmatter.json"), null, 4) %>
    </script>
  </d-front-matter>

  <d-title>
    <h1>Gaussian Distributions</h1>
    <p>And their applications in speech processing.</p>
    <figure class="teaser">
      <d-figure id="Teaser" style="border-bottom: none"></d-figure>
    </figure>
  </d-title>

  <d-article>

    <h2>Gaussian statistics</h2>

  <p>Many phenomena can be modelled with Gaussian distributions. In this article, we will
  look in more detail at what they are and how they are used in the field of speech
  processing.</p>

    <h3>Samples from a Gaussian distribution</h3>

    <p>
      The <em>probability density function</em> (pdf) of a distribution shows the likelihood
      of samples from it falling within a certain range. The pdf for a $d$-dimensional
      Gaussian-distributed random variable $x \sim \mathcal N (\mu, \Sigma)$ is given by:
    </p>

    <d-math block>
      g_{(\mu,\Sigma)}(x) = \frac{1}{\sqrt{2\pi}^d \sqrt{\det\left(\Sigma\right)}} \, e^{-\frac{1}{2} (x-\mu)^T \Sigma^{-1} (x-\mu)}
    </d-math>

    <p>
      where $\mu$ is the mean vector and $\Sigma$ the covariance matrix. $\mu$ and
      $\Sigma$ are the parameters of the Gaussian distribution. A 2-dimensional
      Gaussian distribution looks like this:
    </p>

    <d-figure id="multivariate-dfigure">
      <figure>
        <div id="multivariate-target"></div>
        <figcaption>Visualisation of a 2-D Gaussian. Figure adapted from <a href="https://distill.pub/2019/visual-exploration-gaussian-processes">Görtler, et al., "A Visual Exploration of Gaussian Processes", Distill, 2019</a> (CC-BY 4.0).</figcaption>
      </figure>
    </d-figure>

    <p>Play around with the above figure and compare the shape of the contours when:

      <ul>
        <li>Correlations are zero and both variances are equal.</li>
        <li>Correlations are zero and the variances differ.</li>
        <li>Correlations are non-zero.</li>
      </ul></p>

    <h3>Gaussian modeling: mean and variance of a sample</h3>

    <p>When we have a sample of $N$ points $X = \{x_1, x_2, \ldots, x_N\}$ from a Gaussian
      distribution, we can compute estimates of its mean $\hat{\mu}$ and covariance $\hat{\Sigma}$
    as follows:</p>

    <d-math block>
      \hat{\mu} = \frac{1}{N} \sum_{i=1}^{N} x_i
    </d-math>

    <d-math block>
      \hat{\Sigma} = \frac{1}{N-1} \sum_{i=1}^{N} (x_i - \hat{\mu})^T (x_i - \hat{\mu})
    </d-math>

    <p>The accuracy of these estimates depends on the number of sample points $N$. You
      can confirm this in the figure below, which shows the Euclidean norm of the difference
      between the estimate and the actual value.</p>

    <d-figure id="estimationError-dfigure">
      <figure>
        <div id="estimationError-target"></div>
        <figcaption>Error of mean and covariance estimates when varying the number of sample points.</figcaption>
      </figure>
    </d-figure>

    <h3>Likelihood of a sample with respect to a Gaussian model</h3>

    <p>The <em>likelihood</em> of a sample point $x$ given a Gaussian model $\Theta = (\mu, \Sigma)$ is the value of the probability density function $g_{(\mu,\Sigma)}(x)$ for that point. For a set of independent and identically distributed (i.i.d.) points $X = \{x_1, x_2, \ldots, x_N\}$, the <em>joint likelihood</em> is the product of the likelihoods for each point:</p>

    <d-math block>
      p(X|\Theta) = \prod_{i=1}^N p(x_i|\Theta) = \prod_{i=1}^N p(x_i|\mu, \Sigma) = \prod_{i=1}^N g_{(\mu,\Sigma)}(x_i)
    </d-math>

    <p>In practice, we compute log-likehoods to avoid numerical underflow:</p>

    <d-math block>
      \log p(X|\Theta) = \log \sum_{i=1}^N p(x_i|\Theta) = \log \sum_{i=1}^N p(x_i|\mu, \Sigma) = \log \sum_{i=1}^N g_{(\mu,\Sigma)}(x_i)
    </d-math>

    <d-figure id="sampleLikelihood-dfigure">
      <figure>
        <div id="sampleLikelihood-target"></div>
        <figcaption>Try to adjust the Gaussian in order to maximize the log-likehood for the given sample.</figcaption>
      </figure>
    </d-figure>

    <h2 id="gaussian-speech">Gaussian distributions for speech processing</h2>

    <p>Speech features (or acoustic features) are examples of $d$-dimensional
    variables, and it is often assumed that they follow a Gaussian distribution.</p>

    <h3 id="formants">Formants</h3>
    <p><a href="https://en.wikipedia.org/wiki/Formant">Formants</a> are resonant frequencies in the vocal tract. On the <a href="https://en.wikipedia.org/wiki/Spectrogram">spectrogram</a> of a speech signal they can be identified by dark, horizontal lines. A simple way of distinguishing vowels is to compare their first and second formants, F1 and F2. Thus, we could model these values with a 2-dimensional
    Gaussian distribution for each vowel.</p>

    <figure>
      <img src="images/Spectrogram_-iua-.png" alt="Spectrogram of different vowels">
      <figcaption>Spectrogram showing formants of different vowels. Figure from <a href="https://commons.wikimedia.org/wiki/File:Spectrogram_-iua-.png">Wikimedia Commons</a> (CC-BY 2.0).</figcaption>
    </figure>

    <p><em>To be continued...</em></p>

    <!-- <figure>
         <img src="images/English_Monophthong_Formants_Bradlow1995.png" alt="Vowel chart">
         <figcaption>English vowel chart. Figure from <a href="https://commons.wikimedia.org/wiki/File:English_Monophthong_Formants_Bradlow1995.png">Wikimedia Commons</a> (CC0).</figcaption>
         </figure> -->

    <!-- <h2 id="inlined-svgs">Inlined SVGs</h2>
         <p>SVGs are so small that it can be nice to save an extra request and simply inline them intop your HTML:</p>

         <figure>
         <%= require("../static/diagrams/diffparam.svg") %>
         </figure>

         <style>
         #arrow-2 #arrow-head {
         fill: steelblue;
         }

         #arrow-2 #arrow-line {
         stroke: steelblue;
         }
         </style>

         <p>Let's use some CSS to style an inlined SVG. Here's an arrow
         <svg width="27px" height="9px" viewBox="0 0 27 9" version="1.1" xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink">
         <g id="arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
         <g id="Group" transform="translate(-0.195652, 0.0)">
         <path d="M10.5,4.5 L26.8913043,4.5" id="arrow-line" stroke="#FF6600" stroke-width="2"
         stroke-linecap="square" stroke-dasharray="6,4"></path>
         <g id="arrow-head" transform="translate(5.0, 4.5) scale(-1, 1) translate(-5.0, -4.5) translate(0.5, 0.0)"
         fill="#FF6600" fill-rule="nonzero">
         <path
         d="M4.5,0 C5.67007294,3.25202425 6.85281213,6.29180565 9,9 L4.5,7.3125 L0,9 C2.13530145,6.28972675 3.34126793,3.24998975 4.5,0 Z"
         id="Shape" transform="translate(4.5, 4.5) rotate(-270.0) translate(-4.5, -4.5) "></path>
         </g>
         </g>
         </g>
         </svg> that we
         can make
         inline. If you'd like to change the color in CSS, we can do so. Let's put the second arrow (<span
         id="arrow-2"><svg width="27px" height="9px" viewBox="0 0 27 9" version="1.1" xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink">
         <g id="arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
         <g id="Group" transform="translate(-0.195652, 0.0)">
         <path d="M10.5,4.5 L26.8913043,4.5" id="arrow-line" stroke="#FF6600" stroke-width="2"
         stroke-linecap="square" stroke-dasharray="6,4"></path>
         <g id="arrow-head" transform="translate(5.0, 4.5) scale(-1, 1) translate(-5.0, -4.5) translate(0.5, 0.0)"
         fill="#FF6600" fill-rule="nonzero">
         <path
         d="M4.5,0 C5.67007294,3.25202425 6.85281213,6.29180565 9,9 L4.5,7.3125 L0,9 C2.13530145,6.28972675 3.34126793,3.24998975 4.5,0 Z"
         id="Shape" transform="translate(4.5, 4.5) rotate(-270.0) translate(-4.5, -4.5) "></path>
         </g>
         </g>
         </g>
         </svg></span>) in a tag with an ID, so we can
         target it in CSS.

         <d-code block="" language="css">
         #arrow-2 #arrow-head {
         fill: steelblue;
         }

         #arrow-2 #arrow-line {
         stroke: steelblue;
         }
         </d-code>

         </p>

         <h4>Formulas</h4>

         <p>Here's a test of an inline equation <d-math>c = a^2 + b^2</d-math>. Can also be used with configurable katex
         settings, for example by
         using inline <code>$</code> signs: <d-math>x^2</d-math>. There are also block equations:</p>
         <d-math block="">
         c = \pm \sqrt{ \sum_{i=0}^{n}{a^{222} + b^2}}
         </d-math>
         <p>Math can also be quite involved:</p>
         <d-math block="">
         \frac{1}{\Bigl(\sqrt{\phi \sqrt{5}}-\phi\Bigr) e^{\frac25 \pi}} = 1+\frac{e^{-2\pi}} {1+\frac{e^{-4\pi}}
         {1+\frac{e^{-6\pi}} {1+\frac{e^{-8\pi}} {1+\cdots} } } }
         </d-math>

         <p>We've also been experimenting with <a
         href="https://github.com/distillpub/template/wiki/Annotated-Formulas">annotated formulas</a>:</p>

         <style>
         .eq-grid {
         display: grid;
         justify-content: start;
         grid-row-gap: 10px;
         }

         .eq-grid figcaption d-math {
         font-size: 100%;
         }

         .eq-grid .expansion-marker {
         border: 1px solid #CCC;
         border-bottom: none;
         height: .5em;
         width: 100%;
         }
         </style>

         <figure class="eq-grid">

         <div style="grid-row: 1; grid-column: 1;">
         <d-math> C ~~~=~~~~ </d-math>
         </div>
         <div style="grid-row: 1; grid-column: 2;">
         <d-math> H^E_D(X, Z) </d-math>
         </div>
         <div style="grid-row: 1; grid-column: 3;">
         <d-math> ~~~-~~~ </d-math>
         </div>
         <div style="grid-row: 1; grid-column: 4;">
         <d-math> H^E_E(X, Z) </d-math>
         </div>


         <div class="expansion-marker" style="grid-row: 2; grid-column: 4 / 7; "></div>

         <div style="grid-row: 3; grid-column: 1;">
         <d-math> ~~~~~~~=~~~~ </d-math>
         </div>
         <div style="grid-row: 3; grid-column: 2;">
         <d-math> H^E_D(X, Z) </d-math>
         </div>
         <div style="grid-row: 3; grid-column: 3;">
         <d-math> ~~~-~~~ </d-math>
         </div>
         <div style="grid-row: 3; grid-column: 4;">
         <d-math> H^E_E(Z | X) </d-math>
         </div>
         <div style="grid-row: 3; grid-column: 5;">
         <d-math> ~~~-~~~ </d-math>
         </div>
         <div style="grid-row: 3; grid-column: 6;">
         <d-math> H^E_E(X) </d-math>
         </div>

         <figcaption style="grid-row: 4; grid-column: 4; max-width:135px;">
         Bits to represent <d-math>z</d-math><br> if you already know <d-math>x</d-math>.
         </figcaption>
         <figcaption style="grid-row: 4; grid-column: 6; max-width:120px;">
         Bits to represent<br>
         <d-math>x</d-math> by itself.
         </figcaption>

         </figure>

         <h4>Citations</h4>

         <p>We can<d-cite key="mercier2011humans"></d-cite> also cite <d-cite
         key="gregor2015draw,mercier2011humans,openai2018charter"></d-cite> external publications. <d-cite
         key="dong2014image,dumoulin2016guide,mordvintsev2015inceptionism"></d-cite>. We should also be testing
         footnotes
         <d-footnote id="d-footnote-1">This will become a hoverable footnote. This will become a hoverable footnote. This
         will become a
         hoverable footnote. This will become a hoverable footnote. This will become a hoverable footnote. This will
         become a hoverable footnote. This will become a hoverable footnote. This will become a hoverable footnote.
         </d-footnote>. There are multiple footnotes, and they appear in the appendix<d-footnote id="d-footnote-2">Given I
         have coded them
         right. Also, here's math in a footnote: <d-math>c = \sum_0^i{x}</d-math>. Also, a citation. Box-ception<d-cite
         key="gregor2015draw"></d-cite>!</d-footnote> as well.</p>


         <h4>Displaying code</h4>
         <p>Some inline javascript:<d-code language="javascript">var x = 25;</d-code>. And here's a javascript code block.
         </p>

         <d-code block="" language="javascript">
         var x = 25;
         function(x){
         return x * x;
         }
         </d-code>
         <p>We also support some highlighting.</p>
         <d-code block="" language="python">
         # Python 3: Fibonacci series up to n
         def fib(n):
         a, b = 0, 1
         while a &lt; n: print(a, end=' ' ) a, b=b, a+b </d-code>

         <h4>Tables</h4>
         <p>We have simple tables that try to stay readable at most screen sizes:
         </p>

         <style>
         #example-table {
         overflow-x: scroll;
         }

         #example-table th {
         white-space: nowrap;
         }

         #example-table tbody th {
         font-weight: initial;
         border-bottom: 1px solid rgb(242, 242, 242);
         }

         #example-table tbody tr:last-of-type th {
         border-bottom: inherit;
         }

         #example-table td,
         #example-table thead th {
         text-align: center;
         }

         #example-table td {
         border-color: rgb(242, 242, 242);
         }

         #example-table td.no {
         background-color: #f6f6f6;
         }
         </style>
         <table id="example-table">
         <thead>
         <tr>
         <th></th>
         <th scope="col">Parallel</th>
         <th scope="col">Efficient</th>
         <th scope="col">Reversible</th>
         </tr>
         </thead>
         <tbody>
         <tr>
         <th scope="row">GANs</th>
         <td>Yes</td>
         <td>Yes</td>
         <td class="no">No</td>
         </tr>
         <tr>
         <th scope="row">Flow Models</th>
         <td>Yes</td>
         <td class="no">No</td>
         <td>Yes</td>
         </tr>
         <tr>
         <th scope="row">Autoregressive Models</th>
         <td class="no">No</td>
         <td>Yes</td>
         <td>Yes</td>
         </tr>
         </tbody>
         </table>

         <h4>Interactive Figures</h4>

         <p>
         Here's a dynamically instantiated "figure". We use Intersection Observers to allow loading resource-heavy
         figures only when readers scroll close to them. The code for this is in <code>src/index.js</code>.
         </p>

         <d-figure id="svelte-example-dfigure">
         <figure>
         <div id="svelte-example-target"></div>
         <figcaption>And a static figcaption. You can use citations<d-cite key="mercier2011humans"></d-cite> in this
         figcaption, but not in text added by javascript.</figcaption>
         </figure>
         </d-figure>

         <p>You can't use citation tags (<code>d-cite</code>) in figures that are dynamically loaded using Javascript.
         Distill statically
         analyzes your submission for its citations, because they need to be uploaded to indexers and organizations like <a
         href="https://www.crossref.org/">CrossRef</a> and <a href="https://scholar.google.com">Google Scholar</a>.</p>

         <p>That's it for the example article! Feel free to look at <a
         href="https://github.com/distillpub?utf8=%E2%9C%93&q=post--&type=public">implementations
         of existing Distill articles</a>, or ask for help in
         the <a href="http://slack.distill.pub">Distill Slack Community</a>.</p> -->

  </d-article>



  <d-appendix>
    <h3>Acknowledgments</h3>
    <p>
      The structure and contents of this article are based on the <a href="https://publications.idiap.ch/index.php/publications/show/738">Introduction to Gaussian Statistics and Pattern Recognition</a> lab exercise originally developed by Sacha Krstulović, Mathew Magimai-Doss and Hervé Bourlard at the Idiap Research Institute. This interactive version was prepared as a final project for <em>Communication in Science and Technology</em> course at École polytechnique fédérale de Lausanne (EPFL).
    </p>

    <p>
      This article uses the <a href="https://github.com/distillpub/post--example">Distill template</a>. Some of the diagrams are based on code from <a href="https://distill.pub/2019/visual-exploration-gaussian-processes">Görtler, et al., "A Visual Exploration of Gaussian Processes", Distill, 2019</a> (CC-BY 4.0).
    </p>

    <d-footnote-list></d-footnote-list>
    <d-citation-list></d-citation-list>
  </d-appendix>

  <!-- bibliography will be inlined during Distill pipeline's pre-rendering -->
  <d-bibliography src="bibliography.bib"></d-bibliography>

</body>
